.Mini-Biblioteca-6-rgba { color: rgba(97, 115, 137, 1); }
.Mini-Biblioteca-7-rgba { color: rgba(187, 221, 215, 1); }
.Mini-Biblioteca-8-rgba { color: rgba(236, 161, 124, 1); }

@font-face {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
}

.container-form{
    background: rgba(255, 132, 0, 0.879);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background-color: rgba(97, 115, 137, 1);
    width: 60vw;
    height: 50vh;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.entrada{
    margin-bottom: 2vh;
}

label{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
}

button {
    padding: 0.2vw 0.3vh;
    font-size: 1.6vw;
    font-family: 'Ubuntu', sans-serif;
    background-color: #ff9999;
    color: #ffffff;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #ff6666;
}

.modificar{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #ff9999; /* Color de fondo */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1.4rem; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */

}

@media screen and (max-width:768px){
    .menu {
        padding: 0 5%;
    }
    form{
        width: 80vw;
        height: auto;
    }

    a{
        font-size: 1.3rem;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        color: aliceblue;
    }
    .entrada{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
}
