* {
	margin: 0;
	padding: 0;
}

:root{
	--color: #55a8fd;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5 vw;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 10px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);

	grid-template-areas: "header header header"
		"contenido contenido sidebar"
		"widget-1 widget-2 sidebar"
		"widget-3 widget-4 sidebar"
		"widget-container widget-container sidebar"
		"footer footer footer";
}

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: var(--color);
	padding: 20px;
	border-radius: 3px;
	border: 2px solid #160101;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;

}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: var(--color);
	text-align: center;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widgets {
	background: var(--color);
	color: #fff;
	height: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	font-size: 1.5vw;
}
.widgets:hover {
	background-color: #a5cdf5;
}

.contenedor .widget-1 {
	grid-area: widget-1;
	}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .widget-3 {
	grid-area: widget-3;
		}

.contenedor .widget-4 {
	grid-area: widget-4;
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

.contenedor .widget-container {
	grid-area: widget-container;
}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-areas: "header header header"
			"contenido contenido contenido"
			"sidebar sidebar sidebar"
			"widget-1 widget-1 widget-1"
			"widget-2 widget-2 widget-2"
			"widget-3 widget-3 widget-3"
			"widget-4 widget-4 widget-4"
			"widget-container widget-container"
			"footer footer footer";
	}

	.comprasmes {
		background-position: center;
	}
}

.contenido section {
	display: flex;
	gap: 2rem;
}

.destacadomes {
	box-shadow: 3vh 3vh 3vw 0vh rgba(12, 7, 71, 0.5);
	background-repeat: no-repeat;
	height: 30vh;
	position: relative;
	background-size: contain;

}
.formulario {
	/* display: flex;
	flex-direction: column;
	gap: 0.2rem; */
	font-size: 1.3vw;	
}
.text {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	font-size: 2vw;
}

h3{
	font-size: 1.3vw;
}
.comprasmes {
	background-image: url(../img/aprendizajebasadoenproyectos.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 80vh;
	position: relative;
	margin-bottom: 1vh;

	animation-name: cambiartapa;
	animation-duration: 20s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
}

@keyframes cambiartapa {
	0% {
		background-image: url(../img/aprendizajebasadoenproyectos.jpg);
		left: 0vw;
		top: 0vh;
	}

	25% {
		background-image: url(../img/LALENGUADESE_AS.jpg);
		left: 0vw;
		top: 0vh;
	}

	50% {
		background-image: url(../img/lelekaike.jpg);
		left: 0vw;
		top: 0vh;
	}

	100% {
		background-image: url(../img/MI_AMIGO_VAN_GOGH_B.jpg);
		left: 0vw;
		top: 0vh;
	}

}

.widget-container {
	color: #fff;
	text-align: left;
	background: #55a8fd;
	border: 1px solid #110101;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	max-width: 633px;
	margin: 10 auto;
}

h1 {
	color: #333
}