.Mini-Biblioteca-6-rgba { color: rgba(97, 115, 137, 1); }
.Mini-Biblioteca-7-rgba { color: rgba(187, 221, 215, 1); }
.Mini-Biblioteca-8-rgba { color: rgba(236, 161, 124, 1); }

@font-face {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
    
}

.container{
    background: rgba(255, 132, 0, 0.879);
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/*---Estilo de la tabla general---*/
table {
    background-color: rgba(215, 215, 215, 0.9);
    border-collapse: collapse;
    width: 60vw;
    max-width: 60vw;
    margin: 2vw auto;
    font-family: Arial, sans-serif;
    height:auto;
    
}

/*---Estilo de filas y columnas de la tabla---*/
th, td {
    border: 0.1vw solid rgba(97, 115, 137, 0.8);
    padding: 0.8vw;
    text-align: left;
    color: rgba(97, 115, 137, 1);
    
}

th {
    background-color: whitesmoke;
    font-weight: bold;
    color: rgba(97, 115, 137, 1);
}
/*---Estilo de texto de encabezado---*/
a{
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: aliceblue;
}

td:hover{
    background-color: #f2f2f2;
    color:#001F3F
}

a:hover{
    background-color: #f2f2f2;
    color:#001F3F
}

.menu{
    text-decoration: none;
    background-color: rgb(48, 72, 101);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;

}

button{    
    margin-right: 2vh;
    background-color:  rgb(255, 138, 138); /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: .5s;
}

button:hover{
    background-color: rgb(255, 32, 32);
    
}

.boton{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #4CAF50; /* Color de fondo */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: .5s;
}
.boton:hover{
    background-color: #45ca49;
}

.nuevo{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: rgba(97, 115, 137, 1); /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1.7vw; /* Tamaño de fuente */
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}


img{
    width: 4vw;
    height: auto;
}

@media screen and (max-width:768px){
    .menu {
        padding: 0 5%;
    }
}