/* Fuentes  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*Color theme naranja*/
.Mini-Biblioteca-6-rgba { color: rgba(97, 115, 137, 1); }
.Mini-Biblioteca-7-rgba { color: rgba(187, 221, 215, 1); }
.Mini-Biblioteca-8-rgba { color: rgba(236, 161, 124, 1); }
.Mini-Biblioteca-9-rgba { color: rgba(202, 121, 104, 1); }




/* Estilo comun a toda la pagina */
*{
    
    margin: 0%;
    padding: 0%;
    
}


.principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    font-family: "Ubuntu", sans-serif;
}

.logo img {
    width: 180px;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.search button {
    background-color: #ff9100d0;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.user a,
.actions a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    text-shadow: 5px 5px 10px black;
}


/*HEADER*/

 /* Estilo para el encabezado y la barra de navegación */
header {
   background-color: #ff9100d0; /* Fondo oscuro para el encabezado */
   color: #fff; /* Texto en color blanco */
   text-align: center; /* Centrar el contenido del encabezado */
   padding: 10px 0; /* Espacio interno en la parte superior e inferior */
}

/* Estilo para la barra de navegación */
nav {
   display: flex; /* Mostrar elementos en una línea */
   justify-content: center; /* Distribuir los elementos de izquierda a derecha */
   align-items: center; /* Centrar verticalmente los elementos */
   max-width: auto; /* Ancho máximo de la barra de navegación */
   margin: 0 auto; /* Centrar la barra de navegación en la página */
   padding: 0 20px; /* Espacio interno en los lados izquierdo y derecho */
}


/*estilos de los botones del nav */

.animated-button {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 12px 15px;
    border: none;
    text-shadow: 5px 5px 5px black;
    font-size: 20px;
    background-color: inherit;
    border-radius: 15px;
    font-weight: 600;
    color: rgb(253, 253, 253);
    box-shadow: 0 0 0 2px rgb(255, 238, 0);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

.animated-button:hover {
    box-shadow: 0 0 0 10px #fffb0060;
    color: #ff0000;
}


/*BODY*/
body{
    background-image: url('../img/fondo_libreria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Estilo del titulo "iniciar sesion" y "registrarse" */
.title { 
    text-align: center;
    font-size: 25px;
    text-shadow: 5px 5px 5px black; /*no puedo cambiar el tamaño y no se por que*/
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: rgb(255, 255, 255)

}

/*Estilo contenedor del formulario de Inicio de sesion*/
fieldset{
    display: grid;
    align-content: center;
    background-color: rgba(241, 146, 22, 0.834);
    border-radius: 30px;
    border-style: hidden;
    box-shadow: 3vw;
    margin-left: auto;
    margin-right: auto;
    margin: 15vh auto 15vh auto ;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
.inicio-sesion{
    
    width: 30vw;
    min-height: 60vh;

}

/*Estilo contenedor del formulario de registro*/
.fieldset-registro{

    width: 30vw;
    min-height: 75vh;
}


.boton-sesion,.boton-registro{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 16px;
    background-color: rgba(48, 48, 48, 0.5);
    color: #fff;
    transition: background-color 0.5s;

    margin-top: 10%;    

    width: 152px;
    height: 40px;
    border-radius: 30px;
    border-style: hidden;
    cursor: pointer;
}



.boton-sesion:hover, .boton-registro:hover{
    background-color:  rgba(241, 146, 22, 0.834);
}

.registro{
    text-align: center; 
    margin-top: 5vh;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    }
.botonNoCuenta{
    background-color: inherit;
    border-style: hidden;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    transition: color 0.5s;
}
.botonNoCuenta:hover{
    color: rgba(48, 48, 48, 1);
}

input{
    text-align: center;
    background-color: rgb(236, 236, 236);
    height: 40px;
    margin-top: 2%;
    border-radius: 30px;
    border-style: inherit;
    }
    
label{
    font-family: "Ubuntu", sans-serif;
    color:rgb(254, 254, 254);
    text-align: left;
    margin-left: 2vw;
    }
    

/*FOOTER*/

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    max-width: 150px;
}

.footer-info, .footer-social {
    text-align: center;
}

.footer-info p {
    margin: 5px 0;
}

.footer-social a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.footer-social i{
    font-size: 50px;
    align-self: center;
    color: #ff9100d0;
}

.footer-links {
    text-align: center;
    margin-top: 30px;
}

.footer-links ul {
    list-style: none;
    margin-right: 100px;
    padding: 0;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}



