/* Estilo comun a toda la pagina */
*{
    /* background-color: rgba(239, 239, 206,1); */
    margin: 0%;
    padding: 0%;

}

/* Fuentes  */
@font-face {
    font-family: 'noto light';
    src: url('../fonts/Noto_Sans/NotoSans-Light.ttf');
    font-family: 'noto bold';
    src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');

}

/* Color Theme Swatches in RGBA */
.Mini-Biblioteca-1-rgba { color: rgba(35, 125, 130, 1); }
.Mini-Biblioteca-2-rgba { color: rgba(48, 48, 48, 1); }
.Mini-Biblioteca-3-rgba { color: rgba(239, 100, 140, 1); }
.Mini-Biblioteca-4-rgba { color: rgba(145, 106, 59, 1); }
.Mini-Biblioteca-5-rgba { color: rgba(239, 239, 206, 1); }

/*Color theme naranja*/
.Mini-Biblioteca-6-rgba { color: rgba(97, 115, 137, 1); }
.Mini-Biblioteca-7-rgba { color: rgba(187, 221, 215, 1); }
.Mini-Biblioteca-8-rgba { color: rgba(236, 161, 124, 1); }
.Mini-Biblioteca-9-rgba { color: rgba(202, 121, 104, 1); }


/* Estilo encabezado */
header{
    background-color: rgba(239, 100, 140, 1);
    display: inline-block;
    height: 15vh;
    width: 100vw;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 2vh;
    
}
.barra{
    font-family: "noto light";
    text-decoration: none;
    color:rgba(239, 239, 206, 1);
    padding-left: 0.75vw;
    padding-right: 0.75vw;
}

body{
    background-color: rgba(239, 239, 206, 1);
}
/* Estilo de "iniciar sesion" y "registrarse" */
.title { 
    text-align: center;
    font-size: 70; /*no puedo cambiar el tamaño y no se por que*/
    font-family: 'noto bold';
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: rgba(239, 239, 206, 1);

}

/* Estilo contenedor del formulario */
fieldset{
    background-color: rgba(48, 48, 48, 1);
    text-align: center;
    width: 22vw;
    height: 50vh;
    /* float:none; */
    border-radius: 15%;
    border-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    flex-shrink: 0;
    


}
input{
    background-color: rgba(239, 239, 206, 1);
    border-radius: 35%;
    height: 5vh;
}
label {
    text-align: left;
    color:rgba(239, 239, 206, 1);
    margin-top: 5vh;
}
.registro{
    text-align: center;
    margin-bottom: 20vh;
}


footer{
    background-color: rgba(35, 125, 130, 1);
    max-height: 30vh;
    text-align: center;

}


