* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "widget-3 widget-4 sidebar"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #e6c1c1;
	padding: 20px;
	border-radius: 3px;
	}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;

	}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widgets {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}
.contenedor .widget-3 {
	grid-area: widget-3;
}

.contenedor .widget-4 {
	grid-area: widget-4;
}
.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}
.contenido section {
	display: flex;
	gap: 1rem;
}
.destacadomes{
	box-shadow: 0vw 0vh 6vw rgba(202, 21, 21, 0.5);
	height: 30vh;
	position: relative;
	margin-bottom: 5vh;
}
.comprasmes{
	background-image: url(img/aprendizajebasadoenproyectos.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	/* box-shadow: 0vw 0vh 3vw rgba(202, 21, 21, 0.5); */
	height: 80vh;
	position:relative;
	margin-bottom: 1vh;

	animation-name: cambiartapa;
	animation-duration: 20s;
	animation-delay: 3s ;
	animation-iteration-count: infinite;
}

@keyframes cambiartapa {
	0% {background-image: url(img/aprendizajebasadoenproyectos.jpg);left: 0vw; top: 0vh;}
	25% {background-image: url(img/LALENGUADESE_AS.jpg); left: 0vw; top: 0vh;}
	50% {background-image: url(img/lelekaike.jpg); left: 0vw; top: 0vh;}
	100% {background-image: url(img/MI_AMIGO_VAN_GOGH_B.jpg); left: 0vw; top: 0vh;}

}


